In [59]:
import pandas as pd

data = pd.read_csv("../data/korea_accident.csv", encoding="utf-8")

print(data)

            발생년월  가해운전자 연령대 가해운전자 성별  법규위반  노면상태  기상상태  도로형태  state  speed  \
0       20230101       55.0        F     8     0     0     2      0    NaN
1       20230101       55.0        M     2     0     0     1      0    NaN
2       20230101       45.0        M     8     0     0     2      0    NaN
3       20230101       62.0        M     8     0     0     1      0    NaN
4       20230101       35.0        M     8     0     0     2      0    NaN
...          ...        ...      ...   ...   ...   ...   ...    ...    ...
175902  20191201       65.0        M     8     0     0     2      0    NaN
175903  20191201       45.0        M     6     0     0     2      0    NaN
175904  20191201       65.0        M     2     0     0     1      0    NaN
175905  20191201       55.0        M     8     0     0     2      0    NaN
175906  20191201       20.0        M     6     0     0     4      0    NaN

        brand  auto
0         NaN     1
1         NaN     1
2         NaN     1
3         NaN     1
4         NaN     1
...       ...   ...
175902    NaN     1
175903    NaN     1
175904    NaN     1
175905    NaN     1
175906    NaN     1

[175907 rows x 11 columns]

In [ ]:
import numpy as np

col_name = ["발생년월", "speed", "가해운전자 연령대", "가해운전자 성별", "auto", "state", "기상상태", "도로형태", "법규위반", "brand", "노면상태"]
data = data[col_name]

data = data.applymap(lambda x: None if pd.isna(x) else x)
data['가해운전자 연령대'] = data['가해운전자 연령대'].replace(np.nan, None)

data.head(5)

/tmp/ipykernel_6835/3443179716.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: None if pd.isna(x) else x)

,발생년월,speed,가해운전자 연령대,가해운전자 성별,auto,state,기상상태,도로형태,법규위반,brand,노면상태
0,20230101,None,55.0,F,1,0,0,2,8,None,0
1,20230101,None,55.0,M,1,0,0,1,2,None,0
2,20230101,None,45.0,M,1,0,0,2,8,None,0
3,20230101,None,62.0,M,1,0,0,1,8,None,0
4,20230101,None,35.0,M,1,0,0,2,8,None,0

In [61]:
print(data.columns)

Index(['발생년월', 'speed', '가해운전자 연령대', '가해운전자 성별', 'auto', 'state', '기상상태',
       '도로형태', '법규위반', 'brand', '노면상태'],
      dtype='object')

In [62]:
unique_cities = data["가해운전자 연령대"].unique()
print(unique_cities)

[55.0 45.0 62.0 35.0 20.0 25.0 65.0 None]

In [26]:
import mysql.connector

cnt = 1
remote = mysql.connector.connect(
    host = "database-eda.chuw4mu887pw.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = 'root',
    password = 'myung234',
    database = 'eda'
)

cursor = remote.cursor(buffered=True)

sql = """
INSERT INTO car_accident (
    accident_date, speed, age, sex, auto_id, state_id, 
    weather_id, road_id, movement_id, brand_id, pavement_id
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for i, row in data.iterrows():
    cursor.execute(sql, tuple(row))
    remote.commit()
    print("complete commit", str(cnt))
    cnt += 1

remote.close()

complete commit 1
complete commit 2
complete commit 3
complete commit 4
complete commit 5
complete commit 6
complete commit 7
complete commit 8
complete commit 9

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'